.tic-tac-toe-board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 50px;
  cursor: pointer;
  font-size: 1.5em;
}

.cell:hover {
  background-color: #eee;
}

.cell-disabled {
  background-color: #bfbdbd76;
}