<h2 class="title">Register or login player</h2>

<form #myForm="ngForm" (ngSubmit)="onSubmit()" class="player-form">
  <div class="form-group">
    <label for="name" class="form-label">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="formData.name"
      required
      class="form-input"
    />
  </div>

  <button type="submit" [disabled]="!myForm.valid" class="form-button">Submit</button>
</form>

<div *ngIf="player" class="player-info">
  <h1 class="info-title">Player: {{ player.id }}</h1>
  <h1 class="info-text">Name: {{ player.name }}</h1>
  <h1 class="info-text">IsComputer: {{ player.isComputer }}</h1>
</div>
